h1 {
    color: green;
}

table,
th,
td {
    border: 0.1em solid black;
    border-collapse: collapse;
    padding: 0.25em
}

#total {
    font-weight: bold;
    background-color: lightpink;
}

div {
    margin: 0.5em;
    padding: 1em;
}

button {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 5%;
    background-color: lightblue;
    box-shadow: 2px 2px 5px lightgray;
}